*{
    margin: 0;
    padding: 0;

}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex
;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.gridDiv {
    background-color: black;
    color: white;
    width: calc(100% / 16); 
    height: calc(100% / 16); 
    /* border: solid white; */
    box-sizing: border-box;
    /* display: flex;
    align-items: center;
    justify-content: center; */

}
.gridDiv:hover{
    background-color: aliceblue;
}